@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  margin-left: 30px;
  letter-spacing: 0.04em;
}
/* #region Timer */
#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 32px 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:active,
#datetime-picker:focus {
  border: 1px solid #4e75ff;
  outline: transparent;
}
#datetime-picker:disabled {
  color: #808080;
}
.start-btn {
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  margin-left: 8px;
}

.start-btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
.start-btn:hover {
  background-color: #6c8cff;
}

.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  align-items: center;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  color: #2e2f42;
}
.label {
  text-transform: uppercase;
}
/* #endregion Timer */

/* #region Snackbar */
.form-label {
  display: block;
}
.form-input-delay {
  box-sizing: border-box;
  width: 360px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 0 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.form-input-delay:hover {
  border: 1px solid #000;
}

.form-input-delay:focus {
  border: 1px solid #4e75ff;
  outline: transparent;
}
.fieldset {
  box-sizing: border-box;
  width: 360px;
  padding: 0;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-top: 16px;
}

.fieldset:hover,
.fieldset:focus {
  border: 1px solid #000;
}

.fieldset-container {
  padding: 14px 48px 8px;
  text-align: center;
}
.fieldset-label {
}
.submit-btn {
  border-radius: 8px;
  padding: 8px 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  margin-top: 24px;
}

.submit-btn:hover {
  background-color: #6c8cff;
}
/* #endregion Snackbar */
